.form-container {
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 60px 32px;
}

.form-container .form {
  background-color: #F7F7F7;
  border-radius: 20px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
  flex: 1;
  min-width: 300px;
  padding: 36px 64px;
}

.form-container .form h2 {
  font-weight: 400;
  font-size: 28px;
}