.team {
  background-blend-mode: multiply;
  padding: 32px;
  position: relative;
  text-align: center;
}

.team h3 {
  display: inline-block;
  border-bottom: 4px solid;
  font-family: 'Prata';
  font-size: 32px;
  padding-bottom: 8px;
}

.team .collaborators {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  margin-top: 32px;
}

.input-color {
  position: absolute;
  top: 20px;
  right: 50px;
}